.light {
  /* colors */
  --social-media-icon-color: #2BB0ED;
  --background-color: #FAFAFA;

  --portfolio-title-text-color: #2BB0ED;
  --project-card-text-color: #777;
  --project-card-shadow-color: #00000020;

  --gradient-start-color: #FFF;
  --gradient-end-color: #D6F2FF;
  --gradient-direction: to right;

  --pattern-color: #FFF;

  /* fonts */
  --portfolio-title-font-family: 'Lato', sans-serif;
  --portfolio-title-font-weight: 300;

  --project-card-font-family: 'Lato', sans-serif;
  --project-card-font-weight: 700;
}


.dark {
  /* colors */
  --social-media-icon-color: #2BB0ED;
  --background-color: #FAFAFA;

  --portfolio-title-text-color: #2BB0ED;
  --project-card-text-color: #777;
  --project-card-shadow-color: #00000029;

  --gradient-start-color: #FFF;
  --gradient-end-color: #D6F2FF;
  --gradient-direction: to right;

  --pattern-color: #FFF;

  /* fonts */
  --portfolio-title-font-family: 'Lato', sans-serif;
  --portfolio-title-font-weight: 300;

  --project-card-font-family: 'Lato', sans-serif;
  --project-card-font-weight: 700;
}
