.light {
  /* colors */
  --primary-color-light: #D6F2FF;
  --primary-color: #2BB0ED;
  --primary-color-dark: #127FBF;
  --secondary-color: #FAFAFA;
  --text-color-light: #c7bdbd;
  --text-color-dark: #777;

  /* fonts */
  --primary-font-family: 'Lato', sans-serif;
  --primary-font-weight: 300;
  --secondary-font-family: 'Lato', sans-serif;
  --secondary-font-weight: 700;
}


.dark {
  /* colors */
  --primary-color-light: #FAFAFA;
  --primary-color: #c7bdbd;
  --primary-color-dark: #333333;
  --secondary-color: #333333;
  --text-color-light: #FAFAFA;
  --text-color-dark: #c7bdbd;

  /* fonts */
  --primary-font-family: 'Playfair Display', serif;
  --primary-font-weight: 300;
  --secondary-font-family: 'Lato', sans-serif;
  --secondary-font-weight: 300;
}
