/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/assets/fonts/lato/lato-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
      url('../../public/assets/fonts/lato/lato-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../../public/assets/fonts/lato/lato-300.woff2') format('woff2'), /* Super Modern Browsers */
      url('../../public/assets/fonts/lato/lato-300.woff') format('woff'), /* Modern Browsers */
      url('../../public/assets/fonts/lato/lato-300.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../../public/assets/fonts/lato/lato-300.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/assets/fonts/lato/lato-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
      url('../../public/assets/fonts/lato/lato-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../../public/assets/fonts/lato/lato-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('../../public/assets/fonts/lato/lato-700.woff') format('woff'), /* Modern Browsers */
      url('../../public/assets/fonts/lato/lato-700.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../../public/assets/fonts/lato/lato-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/playfair-display/playfair-display-400.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../../public/assets/fonts/playfair-display/playfair-display-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/assets/fonts/playfair-display/playfair-display-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/assets/fonts/playfair-display/playfair-display-400.woff') format('woff'), /* Modern Browsers */
       url('../../public/assets/fonts/playfair-display/playfair-display-400.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/assets/fonts/playfair-display/playfair-display-400.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/assets/fonts/playfair-display/playfair-display-700.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
       url('../../public/assets/fonts/playfair-display/playfair-display-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/assets/fonts/playfair-display/playfair-display-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/assets/fonts/playfair-display/playfair-display-700.woff') format('woff'), /* Modern Browsers */
       url('../../public/assets/fonts/playfair-display/playfair-display-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/assets/fonts/playfair-display/playfair-display-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* comfortaa-600 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/assets/fonts/comfortaa/comfortaa-v23-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../public/assets/fonts/comfortaa/comfortaa-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/assets/fonts/comfortaa/comfortaa-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/assets/fonts/comfortaa/comfortaa-v23-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../../public/assets/fonts/comfortaa/comfortaa-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/assets/fonts/comfortaa/comfortaa-v23-latin-600.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
